.intro-container {
  
    overflow: hidden;
    background-color: #F8F9FA;
    
}
.intro-container .row{
    display: flex;
    align-items: center;
    justify-content: center;

    
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px; */
}
.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hos-image{
    width: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}
.intro-container .info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.info-container h1{
    font-weight: bold;
    text-transform: uppercase;
}
.info-container h6{
    color: rgba(0, 0, 0, 0.836);
    margin-bottom: 30px;
}
h1 {
    font-size: 2.5rem;
    color: #0B3C5D;
    font-style: italic;
}